  <div [formGroup]="addressForm">

    <div class="mb-3">
      <label for="cepLabel" class="form-label">CEP</label>
      <input type="text" class="form-control" formControlName="cep">
    </div>
    
    <div class="double-input">
      <div class="mb-3 bigger-input">
        <label for="addressLabel" class="form-label">Address</label>
        <input type="text" class="form-control" formControlName="address">
      </div>
      <div class="mb-3 small-input">
        <label for="numberLabel" class="form-label">Number</label>
        <input type="text" class="form-control" formControlName="number">
      </div>
    </div>
    
    <div class="mb-3">
      <label for="neighborhoodLabel" class="form-label">Neighborhood</label>
      <input type="text" class="form-control" formControlName="neighborhood">
    </div>
    
    <div class="double-input">
      <div class="mb-3">
      <label for="stateLabel" class="form-label">State</label>
      <input type="text" class="form-control" formControlName="state">
    </div>
    <div class="mb-3">
      <label for="cityLabel" class="form-label">City</label>
      <input type="text" class="form-control" formControlName="city">
    </div>
  </div>
  
  <div class="mb-3">
    <label for="complementLabel" class="form-label">Complement</label>
    <input type="text" class="form-control" formControlName="complement">
  </div>
  
</div>