<div class="person-area">
  <div class="btn-update">
    <button *ngIf="formEnabled === false" type="button" class="btn btn-outline-secondary" (click)="enableForm()">Update</button>
  </div>

  <form [formGroup]="peopleForm" (submit)="submitForm($event)">
    <div class="form-content">
      <div class="mb-3">
        <label for="nameLabel" class="form-label">Name</label>
        <input type="text" class="form-control" [class.input-border]="inputsHaveBorder"
         maxlength="30" formControlName="name" (keypress)="disablePressNumber($event, 'name')">
         <div *ngIf="peopleForm.get('name')?.errors && peopleForm.get('name')?.touched" class="text-danger">
          <div *ngIf="peopleForm.get('name')?.errors?.['required']">Name is required.</div>
          <div *ngIf="peopleForm.get('name')?.errors?.['maxlength']">Name must be at most 100 characters long.</div>
          <div *ngIf="peopleForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters long.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <input type="text" class="form-control" formControlName="gender" [class.input-border]="inputsHaveBorder" maxlength="15"
         [ngClass]="{ 'is-invalid': peopleForm.get('gender')?.touched && peopleForm.get('gender')?.errors }" (keypress)="disablePressNumber($event, 'gender')">
        <div *ngIf="peopleForm.get('gender')?.touched && peopleForm.get('gender')?.errors" class="text-danger">
          <div *ngIf="peopleForm.get('gender')?.errors?.['required']">Gender is required.</div>
          <div *ngIf="peopleForm.get('gender')?.errors?.['maxlength']">Gender must be at most 15 characters long.</div>
          <div *ngIf="peopleForm.get('gender')?.errors?.['minlength']">Gender must be at least 3 characters long.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="birthLabel" class="form-label">Birth Date</label>
        <input type="text" class="form-control" formControlName="birthDate" [class.input-border]="inputsHaveBorder" maxlength="10"
         [ngClass]="{ 'is-invalid': peopleForm.get('birthDate')?.touched && peopleForm.get('birthDate')?.errors }" (keypress)="disablePressText($event, 'birthDate')" placeholder="yyyy-mm-dd">
        <div *ngIf="peopleForm.get('birthDate')?.touched && peopleForm.get('birthDate')?.errors" class="text-danger">
          <div *ngIf="peopleForm.get('birthDate')?.errors?.['required']">Birth Date is required.</div>
          <div *ngIf="peopleForm.get('birthDate')?.errors?.['maxlength']">Birth Date must be at most 10 characters long.</div>
          <div *ngIf="peopleForm.get('birthDate')?.errors?.['minlength']">Birth Date must be at least 8 characters long.</div>
        </div>  
      </div>

      <div class="mb-3">
        <label for="maritalLabel" class="form-label">Marital Status</label>
        <input type="text" class="form-control" formControlName="maritalStatus" [class.input-border]="inputsHaveBorder" maxlength="15"
         [ngClass]="{ 'is-invalid': peopleForm.get('maritalStatus')?.touched && peopleForm.get('maritalStatus')?.errors }"(keypress)="disablePressNumber($event, 'maritalStatus')">
        <div *ngIf="peopleForm.get('maritalStatus')?.touched && peopleForm.get('maritalStatus')?.errors" class="text-danger">
          <div *ngIf="peopleForm.get('maritalStatus')?.errors?.['required']">Marital Status is required.</div>
          <div *ngIf="peopleForm.get('maritalStatus')?.errors?.['maxlength']">Marital Status must be at most 15 characters long.</div>
          <div *ngIf="peopleForm.get('maritalStatus')?.errors?.['minlength']">Marital Status must be at least 3 characters long.</div>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Addresses</label>
        <select class="form-select" (change)="selectAddressField($event)">
          <option>Tap to view your addresses</option>
          <option *ngFor="let address of addressService.idAndTitle">{{ address.title }}</option>
        </select>
      </div>

      <div *ngIf="showAddressFields && addressFormGroup">
        <app-address-form [addressForm]="addressFormGroup"></app-address-form>
      </div>
      
      <div *ngIf="formEnabled === true" class="btn-address-delete">
        <button *ngIf="newAddressOff === false" type="button" class="btn btn-outline-success btn-new-address" (click)="newAddress(template)">New Address</button>
        <button *ngIf="deleteOn === true" type="button" class="btn btn-outline-danger btn-new-address" (click)="removeAddress()">Delete Address</button>
      </div>
    
      <div *ngIf="formEnabled == true" class="btn-submit-cancel">
        <button type="submit" class="btn btn-outline-primary" (click)="submitPeopleForm(template)">Save</button>
        <button type="button"class="btn btn-dark" (click)="disableForm()">Cancel</button>
      </div>
    </div>
  </form>
</div>

<ng-template #template>
  <div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeAddressModal()">
    </button>
  </div>

  <div class="modal-body">
    <form *ngIf="addressFormGroup"(submit)="submitForm($event)">
      <app-address-form [addressForm]="addressFormGroup"></app-address-form>
      <div class="btn-address-delete">
        <button type="submit" class="btn btn-outline-primary" (click)="submitAddressForm()">Save</button>
        <button type="button"class="btn btn-dark" (click)="closeAddressModal()">Cancel</button>
      </div>
    </form>
  </div>

</ng-template>