<div class="person-area">
  <div class="btn-update">
    <button *ngIf="formEnabled == false" type="button" class="btn btn-outline-secondary" (click)="enableForm()">Update</button>
  </div>

  <form [formGroup]="peopleForm" (submit)="submitForm($event)">
    <div class="form-content">
      <div class="mb-3">
        <label for="nameLabel" class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name" [class.input-border]="inputsHaveBorder" maxlength="30">
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">Gender</label>
        <input type="text" class="form-control" formControlName="gender" [class.input-border]="inputsHaveBorder" maxlength="15">
      </div>
      <div class="mb-3">
        <label for="birthLabel" class="form-label">Birth Date</label>
        <input type="text" class="form-control" formControlName="birthDate" [class.input-border]="inputsHaveBorder" maxlength="10"
        >
      </div>
      <div class="mb-3">
        <label for="maritalLabel" class="form-label">Marital Status</label>
        <input type="text" class="form-control" formControlName="maritalStatus" [class.input-border]="inputsHaveBorder" maxlength="15"
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Addresses</label>
        <select class="form-select" (change)="selectAddressField($event)">
          <option>Tap to view your addresses</option>
          <option *ngFor="let address of addressService.idAndTitle">{{ address.title }}</option>
        </select>
      </div>

      <div *ngIf="showAddressFields && addressFormGroup">
        <app-address-form [addressForm]="addressFormGroup"></app-address-form>
      </div>
      
      <div *ngIf="formEnabled == true" class="btn-address-delete">
        <button type="button" class="btn btn-outline-success btn-new-address" (click)="newAddress(template)">New Address</button>
        <button type="button" class="btn btn-outline-danger btn-new-address" (click)="removeAddress()">Delete Address</button>
      </div>
    
      <div *ngIf="formEnabled == true" class="btn-submit-cancel">
        <button type="submit" class="btn btn-outline-primary" (click)="submitPeopleForm(template)">Save</button>
        <button type="button"class="btn btn-dark" (click)="disableForm()">Cancel</button>
      </div>
    </div>
  </form>
</div>

<ng-template #template>
  <div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeAddressModal()">
    </button>
  </div>

  <div class="modal-body">
    <form *ngIf="addressFormGroup"(submit)="submitForm($event)">
      <app-address-form [addressForm]="addressFormGroup"></app-address-form>
      <div class="btn-address-delete">
        <button type="submit" class="btn btn-outline-primary" (click)="submitAddressForm()">Save</button>
        <button type="button"class="btn btn-dark" (click)="closeAddressModal()">Cancel</button>
      </div>
    </form>
  </div>

</ng-template>