<div class="d-flex btn-top my-5">
  <button class="btn btn-outline-success" (click)="newPeople(template)">Add Person</button>
  <button class="btn btn-outline-success getAll" (click)="getAllPeople()">Get All</button>
</div>

<section class="information">

  <div class="person">
    <app-form *ngIf="personEnabled == true" [peopleForm]="peopleForm"></app-form>
  </div>

  <div class="people-list">
    <div class="d-flex search-box">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" #SearchInput>
      <button type="button" class="btn btn-outline-success" (click)="searchPeople(SearchInput.value)">Search</button>
    </div>
    <table class="table table-hover">
      <thead class="table-secondary">
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Settings</th>
        </tr>
      </thead>
      <tbody *ngFor="let person of people">
        <tr class="people-line" (click)="enablePersonInfo(person)">
          <td>{{ person.id }}</td>
          <td>{{ person.name }}</td>
          <td>
            <button class="btn btn-outline-danger" (click)="btnDelete(person.id)">Delete</button>
          </td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>

</section>

<ng-template #template>
  <div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
    </button>
  </div>

  <div class="modal-body">
    <app-form [formEnabled]="formEnabled"></app-form>
  </div>

</ng-template>